---
const { img, title, text } = Astro.props;
---

<div class="example-card">
	<div class="example-card-inner">
		<div class="example-card-image-wrapper">
			<img class="example-card-image" src={img} alt={title} />
		</div>
		<div class="example-card-content">
			<h3 class="example-card-title">{title}</h3>
			<p class="example-card-text">{text}</p>
		</div>
	</div>
</div>

<style>
	.example-card {
		border: 1px solid #000;
		border-radius: 6px;
		padding: 2rem;
		background-color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.example-card-inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 32px;
	}

	.example-card-image-wrapper {
		aspect-ratio: 1 / 1;
		width: 100%;
		height: 100%;
		max-width: 300px;
		border-radius: 20px;
		overflow: hidden;
		background: #fff;
		margin: 0 auto;
	}

	.example-card-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.example-card-content {
		display: flex;
		flex-direction: column;
		gap: 8px;
		width: 100%;
		max-width: 310px;
		text-align: left;
	}

	.example-card-title {
		margin: 0;
		font-size: 2rem;
		font-weight: 600;
		color: #ff3399;
		font-family: 'hiragino-kaku-gothic-pron', sans-serif;
	}

	.example-card-text {
		margin: 0;
		font-size: 1rem;
		font-weight: 500;
		color: #ff3399;
		line-height: 1.5;
		font-family: 'hiragino-kaku-gothic-pron', sans-serif;
	}
	/* タブレット対応 */
	@media (max-width: 1024px) {
		.example-card {
			padding: 1.5rem;
			align-items: start;
			justify-content: start;
		}

		.example-card-inner {
			gap: 24px;
		}

		.example-card-image-wrapper {
			max-width: 220px;
		}

		.example-card-content {
			max-width: 230px;
		}

		.example-card-title {
			font-size: 1.2rem;
		}

		.example-card-text {
			font-size: 0.75rem;
		}
	}

	/* モバイル対応 */
	@media (max-width: 768px) {
		.example-card {
			padding: 1rem;
			align-items: start;
			justify-content: start;
		}

		.example-card-inner {
			gap: 16px;
		}

		.example-card-image-wrapper {
			max-width: 150px;
		}

		.example-card-content {
			max-width: 150px;
		}

		.example-card-title {
			font-size: 1rem;
		}

		.example-card-text {
			font-size: 0.625rem;
		}
	}
</style>
