---
import firstViewImage from "../assets/first-view.svg";
---

<section
  class="first-view"
  style={`background-image: url(${firstViewImage.src})`}
>
  <h1 class="first-view-title">
    いったん、<br />つくってみる
  </h1>
</section>

<style>
  .first-view {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 70vh;
    background-size: cover;
    background-position: center;
    margin-bottom: 5rem;
  }

  .first-view-title {
    position: absolute;
    left: 4rem;
    top: 33%;
    font-size: 3.5rem;
    color: #333333;
    text-align: left;
    font-family: 'hiragino-kaku-gothic-pron', sans-serif;
  }
</style>
