---
import firstViewImage from '../assets/unity_header_with_glass.png';
---

<section
	class="first-view"
	style={`background-image: url(${firstViewImage.src})`}
>
	<p class="first-view-text">
		いったん、<br />
		つくってみる
	</p>
</section>

<style>
	.first-view {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		min-height: 70vh;
		background-size: cover;
		background-position: center;
		margin-bottom: 5rem;
	}

	.first-view-text {
		font-family: 'hiragino-kaku-gothic-pron', sans-serif !important;
		position: absolute;
		left: 4rem;
		top: 33%;
		font-size: 3.5rem;
		color: #333333;
		text-align: left;
		font-weight: 600;
	}
</style>
