<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
<div class="introduction">
  <p class="title">
  Idea x Tech
  </p>
  <div class="introductionWrapper">
    <div class="subtitle">
      <div class="h2">
            <p>##AI、ゲーム、デザイン…</p>
            <p>おもしろそうなら、とりあえずやってみよう。</p>
      </div>
      <div class="text">    
            <p>初心者も経験者もゆるく集まって一緒に制作にチャレンジできる場所です。</p>
            <p>いつもの仲間と、はじめてのだれかと、</p>
            <p>ちょっとしたヒラメキをカタチに。</p>
            <p>気になることがあれば、いつでも覗いてみてください。</p>
      </div> 
            <button class="button">参加希望の方はこちら→</button>
      </div>
        <img src="/public/IdeaTech_logo.svg" alt="IdeaTech_logo"/>
    </div>
 </div>
</div>
<style>
p {
  margin: 0;
}
.introduction {
  margin-top:1089px;
    gap:92px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    font-size: 96px;
    font-weight: bold;
    letter-spacing: 0.05em;
    color: #333333;
    font-family: Unbounded; 
    text-shadow: 2px 2px 5px gray;
}
    .introductionWrapper {
     width: 1250px;
      height: 404px;
    display: flex;
    flex-direction: row;
    gap:32px;
    justify-content: center;
   } 
    .subtitle {
      position: relative;
      left: 19.5px;
    
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
     text-align: left;
    }
    .h2 {
      font-size: 24px;
      font-weight: 600;
      color: #333333;
      letter-spacing: 0.1em;
      margin-bottom: 32px;
      line-height: auto;
      font-family:Hiragino Kaku Gothic ProN, sans-serif;
    }
   .text { 
    font-size: 16px;
    font-weight:600 ;
    color: #333333;
  letter-spacing: 0.1em;
    margin-bottom: 32px;
    line-height: 32px;
    font-family:Hiragino Kaku Gothic ProN, sans-serif;
    }
    .button { 
      width: 219px;
      height: 33px;
      border: none;
      border-bottom: 1px solid #333333;
      cursor: pointer;
      font-size: 16px;
      font-weight: 600;
      color: #333333;
      background-color: #FFFFFF;
    }
    img {
      width: 555px;
      height: 404px;
    }
</style>