---
import logoImage from '../assets/IdeaTech_logo.svg';
---

<div id="about" class="introduction">
	<p class="title">Idea x Tech</p>
	<div class="introductionWrapper">
		<div class="subtitle">
			<div class="h2">
				<p>##AI、ゲーム、デザイン…</p>
				<p>おもしろそうなら、とりあえずやってみよう。</p>
			</div>
			<div class="text">
				<p>
					###
					初心者も経験者もゆるく集まって一緒に制作にチャレンジできる場所です。
				</p>
				<p>いつもの仲間と、はじめてのだれかと、</p>
				<p>ちょっとしたヒラメキをカタチに。</p>
				<p>気になることがあれば、いつでも覗いてみてください。</p>
			</div>
			<a
				href="https://forms.gle/oVYzsqC8A3L6Nqz98"
				target="_blank"
				rel="noopener noreferrer"
			>
				<button class="button">
					<span class="text">参加希望の方はこちら→</span>
				</button>
			</a>
		</div>
		<img src={logoImage.src} alt="IdeaTech_logo" />
	</div>
</div>

<style>
	p {
		margin: 0;
		padding: 0;
	}
	.introduction {
		gap: 92px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: #ffffff;
	}
	.title {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0;
		font-size: 96px;
		font-weight: bold;
		letter-spacing: 0.05em;
		color: #333333;
		font-family: 'Unbounded Variable', sans-serif;
		text-shadow: 2px 2px 5px gray;
	}
	.introductionWrapper {
		display: flex;
		flex-direction: row;
		gap: 32px;
		justify-content: center;
	}
	.subtitle {
		max-width: 40%;
		height: auto;
		gap: 32px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		text-align: left;
	}
	.h2 {
		font-size: 24px;
		font-weight: 600;
		color: #333333;
		letter-spacing: 0.1em;
		line-height: auto;
		font-family: 'hiragino-kaku-gothic-pron', sans-serif;
	}
	.text {
		font-size: 16px;
		font-weight: 600;
		color: #333333;
		letter-spacing: 0.1em;
		margin-bottom: 32px;
		line-height: 32px;
		font-family: 'hiragino-kaku-gothic-pron', sans-serif;
	}
	.button {
		width: 219px;
		height: 33px;
		border: none;
		border-bottom: 1px solid #333333;
		cursor: pointer;
		font-size: 16px;
		font-weight: 600;
		color: #333333;
		background-color: #ffffff;
		font-family: 'hiragino-kaku-gothic-pron', sans-serif;
	}
	img {
		object-fit: contain;
		max-width: 40%;
	}
</style>
