<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap" rel="stylesheet">

<div class="all">
  <p class="logo">

  Idea x Tech
  </p>

  <div class="introduce">
    <div class="text">

    
          <p class="h2">##AI、ゲーム、デザイン…<br>おもしろそうなら、とりあえずやってみよ<br>う。</p>
          <h3> ###初心者も経験者もゆるく集まって一緒に制作にチャレンジ<br>できる場所です。<br>いつもの仲間と、はじめてのだれかと、<br>
          ちょっとしたヒラメキをカタチに。<br>気になることがあれば、いつでも覗いてみてください。</h3>
          <button class="button">参加希望の方はこちら→</button>
    </div>
      <img src="/IdeaxTech_HP/IdeaTech_logo.svg" alt="IdeaTech_logo"/>


  </div>
</div>

<style>

p {
  margin: 0;
}
.all {
     position: absolute; 
    left: 98px;  
    top: 1089px; 
    gap:92px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1250px;
    height: 615px;
    background-color: #FFFFFF;
}

.logo {
     
  
    display: flex;
    justify-content: center;
    align-items: center;
    margin= 0;
    font-size: 96px;

    font-weight: bold !important;
    letter-spacing: 0.05em;
    color: #333333;
    font-family: Unbounded; 
    text-shadow: 2px 2px 5px gray;
}
    .introduce {
     width: 1250px;
      height: 404px;
    display: flex;
    flex-direction: row;
    gap:32px;
    justify-content: center;
    font-color: #333333;
    border: 1px solid #333333;
   } 
    .text {
      position: relative;
      left: 19.5px;
    
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
     text-align: left;

    }
    .h2 {
      font-size: 24px;
      font-weight: 600;
      color: #333333;
      letter-spacing: 0.1em;
      margin-bottom: 32px;
      line-height: auto;
      font-family:Hiragino Kaku Gothic ProN, sans-serif;;
    }
   h3 { 
   
    font-size: 16px;
    font-weight:600 ;
    color: #333333;
  letter-spacing: 0.1em;
    margin-bottom: 32px;
    line-height: 32px;
    font-family:Hiragino Kaku Gothic ProN, sans-serif;

    }
    .button { 
      
      width: 219px;
      height: 33px;
      border: none;
      border-bottom: 1px solid #333333;
      
      
      cursor: pointer;
      font-size: 16px;
      font-weight: 600;
      color: #333333;

      background-color: #FFFFFF;

     
    }
    img {
      width: 555px;
      height: 404px;
    }
    

   

</style>