---
/* titleでタイトルを指定、colorで色を指定（省略すると#333333になる） 


使用例:
<Title title="Activities" color="#006655"/>

#Activitiesのように表示される

*/


interface Props {
  title: string;
  color?: string;
}

const { title, color } = Astro.props as Props;
const titleColor = color ? color : '#333333';
---

<h2 class="title">#{title}</h2>

<style define:vars={{ titleColor }}>
  .title {
    font-family: 'Unbounded Variable', sans-serif;
    font-size: 64px;
    margin-top: 32px;
    margin-bottom: 64px;
    margin-left: 120px;

    /* デフォルトを適用済みの CSS 変数を使用 */
    color: var(--titleColor);
  }
</style>
